@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MobilePostService Client Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/angular.min.js")
    @Scripts.Render("~/Scripts/angular-route.min.js")
    @Scripts.Render("~/Scripts/angular-resource.min.js")
    @Scripts.Render("~/Scripts/app/app.js")
    @Scripts.Render("~/Scripts/app/controllers.js")
    @Scripts.Render("~/Scripts/app/services.js")
    @Scripts.Render("~/Scripts/app/directives.js")
</head>
<body ng-app="mobilePost">
    <div ng-view></div>
        
</body>
</html>